<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CCPageControlSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B600B2551D1A825C00B7EF5F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B600B26E1D1A825C00B7EF5F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B600B2791D1A825C00B7EF5F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
